<br>
<div class="card bg-light border-dark shadow-sm bg-white rounded" style="width: 35rem;">
  <div class="card-body">
    <div class="row">
      <img src="assets/img/logo.png" height="150px">
    </div>
    <div class="row">
      <u><b>Formations</b></u>
    </div>
    <ul>
      <li>
        <a href="">Formation en français</a>
      </li>
      <li>
        <a href="">Formation en anglais</a>
      </li>
      <li>
        <a href="">Formation en informatique</a>
      </li>
      <li>
        <a href="">Formation en comptabilité</a>
      </li>
      <li>
        <a href="">Formation en mathématique</a>
      </li>
    </ul>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
