<br>
<div class="card bg-light border-dark shadow-sm bg-white rounded" style="width: 35rem;">
  <div class="card-body">
    <div class="row">
      <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
        <div class="card-body">
          Bienvenue aux élèves !
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-5">
        <h3><b><u>Evènements</u></b></h3>
        <ul>
          <li>
            <div class="row">
              <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
                <div class="card-body">
                  Evènement 1
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
                <div class="card-body">
                  Evènement 2
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
                <div class="card-body">
                  Evènement 3
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
                <div class="card-body">
                  Evènement 4
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="card border-dark shadow-sm p-1 mb-3 bg-white rounded">
                <div class="card-body">
                  Evènement 5
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col col-5">
        <h3><b><u>Portraits</u></b></h3>
        <ul style="list-style-type: none;">
          <li>
            <img src="assets/img/1.jpg" height="150px">
            <br>
            <i>"Les cours sont très bien organisés"</i> - Jolyne Kujo
          </li>
          <br>
          <li>
            <img src="assets/img/3.webp" height="150px">
            <br>
            <i>"Il y a une bonne entente et ambiance"</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
