<br>
<div class="card bg-light border-dark shadow-sm bg-white rounded" style="width: 35rem;">
  <div class="card-body">
    <label for="annuaire-select">Choisissez une section :</label>
    <br>
    <select [(ngModel)]="selectedOption" name="first" id="annuaire-select">
      <option *ngFor="let o of options">
        {{o.name}}
      </option>
    </select>
    <button (click)="print()">Valider</button>

    <ul>
      <ng-container *ngFor="let el of eleves;">
        <li>{{el.name}}</li>
      </ng-container>
    </ul>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

