body {
  background-image: url("../img/bg.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

em {
  font-style: normal;         /* Removes italics */
  text-decoration: underline; /* Makes underline */
}